<ion-view>
  <ion-content>
    <!--<div class="row letters-row">-->
        <!--<div ><span class="letters" ng-repeat="letter in letters" baby-list-names></span></div>-->
    <!--</div>-->
    <!--<ion-list>-->
      <!--<ion-item collection-repeat="letter in letters">-->
        <!--<span baby-list-names></span>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <div class="list">

      <div class="item" ng-repeat="letter in letters" baby-list-names>
        <!--<span baby-list-names></span>-->
      </div>

    </div>



    <!--<div class="row ">-->
        <!--<span class="col-xs-5"><a ui-sref="app.allNames">View All Names</a></span>-->
            <!--<span class="col-xs-5">-->
                <!--<form novalidate ng-submit="searchName()">-->
                  <!--<input class="form-control" type="text" placeholder="Search name..." ng-model="nameSearch">-->
                <!--</form>-->
            <!--</span>-->
    <!--</div>-->
  </ion-content>
</ion-view>






